<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hand"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.hand.hrmexp.application.HrmexpApplication"
        android:allowBackup="false"
         android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.hand.hrmexp.activity.DetailLineActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Sherlock.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hand.hrmexp.activity.SettingsActivity"
            android:label="设置" >
        </activity>
         <activity
            android:name="com.hand.hrmexp.activity.MenuActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="设置" >
        </activity>
        
         <activity
            android:name="com.hand.hrmexp.activity.DetailLineActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="记一笔" >
        </activity>
        
         <activity
             android:name="com.hand.hrmexp.activity.LoginActivity"
             android:theme="@android:style/Theme.Light.NoTitleBar"
             android:label="登录">
             
         </activity>
    </application>

</manifest>